.cliente{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mexer-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.cadastrar{
    display: grid;
    justify-content: center;
    align-items: center;
}

.cadastro{
    width: 100%;
    height: 30px;
    border: 1px solid black;
}