<div *ngFor = 'let cliente of listaClientes; let i = index'>
        <div class="cliente">
        {{cliente.id}} {{cliente.nome}} {{cliente.sobrenome}}
        </div>
       <div class="mexer-cliente">
           <button (click) = 'abrirProduto(cliente)'>Ver Cliente</button>
           <button (click) = 'editar(cliente, i)'>Editar Cliente</button>
       </div>
    </div>
    
    <div class="cadastrar">
        <input [(ngModel)]='id' placeholder="Id">
        <input [(ngModel)]='nome' placeholder="Nome">
        <input [(ngModel)]='sobrenome' placeholder="Sobrenome">
    </div>
    
    <div class="voltar">
        <button (click) = 'cadastrarPessoa()'>Cadastrar</button>
    </div>

    <div class="voltar">
        <button (click)= 'voltar()'>Voltar Página principal</button>
    </div>


