*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.cliente{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.mexer-cliente{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    padding: 10px;
    outline: none;
    border: 1px solid;
    background-color: #fffff0;
    border-radius: 15px;
}

.mexer-cliente button{
    padding: 5px;
    border: solid;
    border-radius: 15px;
    color: white;
    background-color: #4B0082;
}

.cadastrar{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.cadastrar input{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #DCDCDC;
}

.voltar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar button{
    padding: 10px;
    border: none;
    color: white;
    background-color: #4B0082;
}

