<div *ngFor = 'let pedido of listaPedidos; let i = index'>
    <div class="id">
    Id: {{pedido.id}}
    </div>
    <div class="mexer-id">
        <button (click) = 'abrirProduto(pedido)'>Ver pedido</button>
        <button (click) = 'editar(pedido, i)'>Editar pedido</button>
    </div>
</div>

<div class="cadastrar">
    <input [(ngModel)] = 'id' placeholder="Pedido" class="cadastro">
</div>

<div class="voltar">  
    <button (click) = 'cadastrarPedido()'>Cadastrar</button>
</div>

<div class="voltar">
    <button (click)= 'voltar()'>Voltar Página principal</button>
</div>
