<div *ngFor = 'let pedido of listaPedidos; let i = index'>
    <div class="id">
        <div *ngIf = 'pedido.deleted != true' class="mexer-id">
            Id: {{pedido.id}} Situação: {{pedido.situacao}}
            <button (click) = 'abrirProduto(pedido)'>Ver pedido</button>
            <button (click) = 'editar(pedido, i)'>Editar pedido</button>
            <button (click) = 'deletar(i)'>Deletar Pedido</button>
        </div>
    </div> 
</div>

<div class="cadastrar">
    <input [(ngModel)] = 'id' placeholder="Pedido" class="cadastro">
    <input [(ngModel)] = 'situacao' placeholder="Situação" class="cadastro">
</div>

<div class="voltar">  
    <button (click) = 'cadastrarPedido()'>Cadastrar</button>
</div>

<div class="voltar">
    <button (click)= 'voltar()'>Voltar Página principal</button>
</div>
