<div *ngFor = 'let produto of listaProdutos' >
  <div class="produtos">
    Id: {{produto.id}} Nome: {{produto.nome}} Valor: {{produto.valor}}
  </div>
  <div class="mexer-produto">
    <button>Ver produto</button>
    <button>Editar produto</button>
  </div>
</div>

<div class="cadastrar">
  <input [(ngModel)] = 'id' placeholder="Id" class="cadastro">
  <input [(ngModel)] = 'nome' placeholder="Nome" class="cadastro">
  <input [(ngModel)] = 'valor' placeholder="Valor" class="cadastro">
  <button (click) = 'cadastrarProduto()' class="cadastro">Cadastrar</button>
</div>

<div class="voltar">
  <button class="volta" (click)= 'voltar()'>Voltar Página principal</button>
</div>
