.produtos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mexer-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro{
    width: 10%;
    height: 25px;
    border-radius: 15px;
}