<div *ngFor = 'let produto of listaProdutos; let i = index' >
  <div class="produtos">
    <div *ngIf = 'produto.deleted != true' class="mexer-produto">
      Id: {{produto.id}} Nome: {{produto.nome}} Valor: R${{produto.valor}}
      <button (click) = 'abrirProduto(produto)'>Ver produto</button>
      <button (click) = 'editar(produto, i)'>Editar produto</button>
      <button (click) = 'deletar(i)'>Deletar Produto</button>
    </div>
  </div>
</div>

<div class="cadastrar">
  <input [(ngModel)] = 'id' placeholder="Id">
  <input [(ngModel)] = 'nome' placeholder="Nome">
  <input [(ngModel)] = 'valor' placeholder="Valor">
</div>

<div class="voltar">
  <button (click) = 'cadastrarProduto()'>Cadastrar</button>
</div>

<div class="voltar">
  <button (click)= 'voltar()'>Voltar Página principal</button>
</div>
