*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.produtos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mexer-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.mexer-produto button{
    padding: 5px;
    border: none;
    color: white;
    background-color: #4B0082;
}

.cadastrar{
    display: grid;
    justify-content: center;
    align-items: center;
}

.cadastrar input{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #DCDCDC;
}

.voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.voltar button{
    padding: 10px;
    border: none;
    color: white;
    background-color: #4B0082;
}