<div class="container">
    <div class="tela-login">
        <div class="login-input">
            <input placeholder="Usuário" type='text' [(ngModel)]='user'>
        </div>

        <div class="login-input">
            <input placeholder="Senha" type='password' [(ngModel)]='password'>
        </div>

        <div class="login-button">
            <button (click)='entrar()'>Entrar</button>
        </div>

        <div class="login-button">
            <button (click)='logout()'>Logout</button>
        </div>
    </div>
</div>