*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4B0082;
}

.tela-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    background-color: white;
}

.login-input {
    padding: 5px;
    margin: 5px;
}

.login-input input{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #DCDCDC;
}

.login-button{
    padding: 5px;
    margin: 5px; 
}

.login-button button{
    padding: 10px;
    border: none;
    color: white;
    background-color: #4B0082;
}
